<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paciente-heading" data-cy="PacienteCreateUpdateHeading" jhiTranslate="sesametApp.paciente.home.createOrEditLabel">
        Crear o editar Paciente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sesametApp.paciente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_rut_paciente" jhiTranslate="sesametApp.paciente.rut_paciente">Rut Paciente</label>
          <input
            type="text"
            class="form-control"
            name="rut_paciente"
            id="field_rut_paciente"
            data-cy="rut_paciente"
            formControlName="rut_paciente"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombres" jhiTranslate="sesametApp.paciente.nombres">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="field_nombres" data-cy="nombres" formControlName="nombres" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellido_paterno" jhiTranslate="sesametApp.paciente.apellido_paterno"
            >Apellido Paterno</label
          >
          <input
            type="text"
            class="form-control"
            name="apellido_paterno"
            id="field_apellido_paterno"
            data-cy="apellido_paterno"
            formControlName="apellido_paterno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellido_materno" jhiTranslate="sesametApp.paciente.apellido_materno"
            >Apellido Materno</label
          >
          <input
            type="text"
            class="form-control"
            name="apellido_materno"
            id="field_apellido_materno"
            data-cy="apellido_materno"
            formControlName="apellido_materno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="sesametApp.paciente.telefono">Telefono</label>
          <input type="number" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correo" jhiTranslate="sesametApp.paciente.correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="sesametApp.paciente.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_comuna" jhiTranslate="sesametApp.paciente.comuna">Comuna</label>
          <input type="text" class="form-control" name="comuna" id="field_comuna" data-cy="comuna" formControlName="comuna" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
