<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-doctor-heading" data-cy="DoctorCreateUpdateHeading" jhiTranslate="sesametApp.doctor.home.createOrEditLabel">
        Crear o editar Doctor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sesametApp.doctor.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_rut_doctor" jhiTranslate="sesametApp.doctor.rut_doctor">Rut Doctor</label>
          <input
            type="text"
            class="form-control"
            name="rut_doctor"
            id="field_rut_doctor"
            data-cy="rut_doctor"
            formControlName="rut_doctor"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="sesametApp.doctor.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellido_paterno" jhiTranslate="sesametApp.doctor.apellido_paterno">Apellido Paterno</label>
          <input
            type="text"
            class="form-control"
            name="apellido_paterno"
            id="field_apellido_paterno"
            data-cy="apellido_paterno"
            formControlName="apellido_paterno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellido_materno" jhiTranslate="sesametApp.doctor.apellido_materno">Apellido Materno</label>
          <input
            type="text"
            class="form-control"
            name="apellido_materno"
            id="field_apellido_materno"
            data-cy="apellido_materno"
            formControlName="apellido_materno"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="sesametApp.doctor.telefono">Telefono</label>
          <input type="number" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correo" jhiTranslate="sesametApp.doctor.correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_especialidad" jhiTranslate="sesametApp.doctor.especialidad">Especialidad</label>
          <input
            type="text"
            class="form-control"
            name="especialidad"
            id="field_especialidad"
            data-cy="especialidad"
            formControlName="especialidad"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
